
<div class="card text-light bg-dark">
  <h5 class="card-header">Authorization Servers</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let authServer of authorizationServers">
        <div class="col-sm-1">
          <button class="btn btn-primary" (click)="selectAuthServer(authServer.id)">Select</button>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}" name="name{{authServer.id}}" [(ngModel)]="authServer.name">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}" name="desc{{authServer.id}}" [(ngModel)]="authServer.description">
        </div>
        <div class="col-sm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}"  name="id{{authServer.id}}" [(ngModel)]="authServer.id">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" (click)="getMetadata(authServer)">metadata</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">OAuth Clients</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let client of oAuthClients">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-1">
              <button class="btn btn-primary" (click)="selectOAuthClient(client)">Select</button>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}" name="name{{client.client_id}}" [(ngModel)]="client.client_name">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}" name="label{{client.client_id}}" [(ngModel)]="client.application_type">
            </div>
            <div class="col-sm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}"  name="id{{client.client_id}}" [(ngModel)]="client.client_id">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="updateAppProfile(client)">Edit Profile</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm">
                  {{selectedResponseType.length}}{{selectedResponseType}}
                  <button class="btn btn-primary" (click)="selectResponseType('id_token')">id</button> <button class="btn btn-primary" (click)="selectResponseType('token')">token</button>
                  <span  *ngFor="let responseType of client.response_types">
                    <!--
                  <span *ngIf="client.client_id === selectedOAuthClientId" class="badge badge-pill badge-primary" (click)="selectResponseType(responseType)" [ngClass]="{'badge-warning': selectedResponseType && selectedResponseType.includes(responseType)}">{{responseType}}</span>
                  <span *ngIf="client.client_id != selectedOAuthClientId">{{responseType}}</span>
                  -->
                   ( {{responseType}} )
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row" *ngFor="let grant of client.grant_types">
                <div class="col-sm">
                  <span *ngIf="client.client_id === selectedOAuthClientId" class="badge badge-pill badge-primary" (click)="selectGrantType(grant)" [ngClass]="{'badge-warning': selectedGrantType && grant === selectedGrantType}">{{grant}}</span>
                  <span *ngIf="client.client_id != selectedOAuthClientId">{{grant}}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row" *ngFor="let uri of client.redirect_uris">
                <div class="col-sm">
                  <span *ngIf="client.client_id === selectedOAuthClientId" class="badge badge-pill badge-primary" (click)="selectRedirectUri(uri)" [ngClass]="{'badge-warning': selectedRedirectUri && uri === selectedRedirectUri}">{{uri}}</span>
                  <span *ngIf="client.client_id != selectedOAuthClientId">{{uri}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-primary" (click)="saveState()">Save</button><button class="btn btn-primary" (click)="loadState()">Load</button>
{{selectedResponseType}}

<div class="form-group row" *ngIf="responseMessage">
  <div class="col-sm">
    <div class="alert alert-info">
      <div><pre>{{responseMessage | json}}</pre></div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="clearResponseMessage();">Clear</button>
    </div>
  </div>
</div>

<div class="form-group row" *ngIf="errorMessage">
  <div class="col-sm">
    <div class="alert alert-danger">
      <div><pre>{{errorMessage | json}}</pre></div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="clearErrorMessage();">Clear</button>
    </div>
  </div>
</div>
