<div class="jumbotron">
  <h1 class="display-4">OAuth 2.0/OpenID Connect Toolkit</h1>
  <p class="lead">Okta...</p>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">Okta config</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm-2">Base URL</div>
        <div class="col-sm">
          <span>{{baseUrl}}</span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark" *ngIf="supportedScopes">
  <h5 class="card-header">Supported Scopes for {{selectedAuthServerId}}</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col">
          <span *ngFor="let scope of supportedScopes">
            <span class="badge badge-pill badge-primary" [ngClass]="{'badge-warning': userScopes && userScopes.includes(scope)}" (click)="selectScope(scope);">{{scope}}</span>
          </span>
        </div>
      </div>
      <!--
      <div class="form-group row">
        <div class="col-sm-4">Scopes Claim</div>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="userScopesClaim" [(ngModel)]="userScopesClaim" placeholder="scopes claim">
        </div>
        <div class="col-sm">
          <button class="btn btn-primary" (click)="getUserScopedAccessToken()" *ngIf="maxScopeSet.length > 0">Get Right-Scoped Access Token</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">Menu Groups Claim</div>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="menuGroupsClaim" [(ngModel)]="menuGroupsClaim" placeholder="menu groups claim">
        </div>
      </div>
      -->
    </form>
  </div>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">Authorization Servers</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let authServer of authorizationServers">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-1">
              <button class="btn btn-primary" (click)="selectAuthServer(authServer.id)">Select</button>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}" name="name{{authServer.id}}" [(ngModel)]="authServer.name">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}" name="desc{{authServer.id}}" [(ngModel)]="authServer.description">
            </div>
            <div class="col-sm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [ngClass]="{'current-selection': selectedAuthServerId && authServer.id === selectedAuthServerId}"  name="id{{authServer.id}}" [(ngModel)]="authServer.id">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="getMetadata(authServer)">metadata</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="selectedAuthServerId && (authServer.id === selectedAuthServerId)">
            <div class="col-sm-1"></div>
            <div class="col-sm">
              <span *ngFor="let scope of supportedScopes">
                <span class="badge badge-pill badge-primary" [ngClass]="{'badge-warning': userScopes && userScopes.includes(scope)}" (click)="selectScope(scope);">{{scope}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card bg-light" *ngIf="metadataResponse">
  <h5 class="card-header">Metadata Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{metadataResponse | json}}</pre></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <button class="btn btn-primary" (click)="this.metadataResponse = undefined">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">OAuth Clients</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let client of oAuthClients">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-1">
              <button class="btn btn-primary" (click)="selectOAuthClient(client)">Select</button>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}" name="name{{client.client_id}}" [(ngModel)]="client.client_name">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}" name="label{{client.client_id}}" [(ngModel)]="client.application_type">
            </div>
            <div class="col-sm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [ngClass]="{'current-selection': selectedOAuthClientId && client.client_id === selectedOAuthClientId}"  name="id{{client.client_id}}" [(ngModel)]="client.client_id">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" (click)="updateAppProfile(client)">Edit Profile</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm">
                  <span  *ngFor="let responseType of client.response_types">
                    <span class="badge badge-pill badge-primary" *ngIf="client.client_id === selectedOAuthClientId" [ngClass]="{'badge-warning': isSelectedType(responseType)}" (click)="selectResponseType(responseType.toString())">{{responseType}}</span>
                    <span class="small" *ngIf="client.client_id != selectedOAuthClientId">{{responseType}}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row" *ngFor="let grant of client.grant_types">
                <div class="col-sm">
                  <span *ngIf="client.client_id === selectedOAuthClientId" class="badge badge-pill badge-primary" (click)="selectGrantType(grant)" [ngClass]="{'badge-warning': selectedGrantType && grant === selectedGrantType}">{{grant}}</span>
                  <span class="small" *ngIf="client.client_id != selectedOAuthClientId">{{grant}}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row" *ngFor="let uri of client.redirect_uris">
                <div class="col-sm">
                  <span *ngIf="client.client_id === selectedOAuthClientId" class="badge badge-pill badge-primary" (click)="selectRedirectUri(uri)" [ngClass]="{'badge-warning': selectedRedirectUri && uri === selectedRedirectUri}">{{uri}}</span>
                  <span class="small" *ngIf="client.client_id != selectedOAuthClientId">{{uri}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-primary" (click)="saveState()">Save</button><button class="btn btn-primary" (click)="loadState()">Load</button>

<div class="card bg-light">
  <h5 class="card-header">Authorize Endpoint</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><code>
            {{authorizeUrl}}
          </code></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="authenticate();">Authenticate</button>
        </div>
        <!--
        <div class="col-sm">
          <button class="btn btn-primary" (click)="logout();">Logout</button>
        </div>
        -->
      </div>
    </form>
  </div>
</div>

<div class="form-group row" *ngIf="responseMessage">
  <div class="col-sm">
    <div class="alert alert-info">
      <div><pre>{{responseMessage | json}}</pre></div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="clearResponseMessage();">Clear</button>
    </div>
  </div>
</div>

<div class="form-group row" *ngIf="errorMessage">
  <div class="col-sm">
    <div class="alert alert-danger">
      <div><pre>{{errorMessage | json}}</pre></div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="clearErrorMessage();">Clear</button>
    </div>
  </div>
</div>
