<div class="jumbotron">
    <h1 class="display-4">OAuth 2.0/OpenID Connect Toolkit</h1>
    <p class="lead">Use this page to test stuff and things.</p>
  {{maxScopeSet}}{{userScopes}}
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">Okta config</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm-2">Base URL</div>
        <div class="col">
          <input type="text" class="form-control" name="baseUrl" [(ngModel)]="baseUrl" placeholder="Base URL of Okta Org">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">Request config</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm-2">Response Type</div>
        <div class="col">
          <input type="text" class="form-control" name="responseType" [(ngModel)]="selectedResponseType" placeholder="e.g. token id_token">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Scopes</div>
        <div class="col">
          <input type="text" class="form-control" name="scopes" [(ngModel)]="selectedScopes" placeholder="e.g. openid profile">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Redirect URI</div>
        <div class="col">
          <input type="text" class="form-control" name="redrectUri" [(ngModel)]="redirectUri" placeholder="e.g. http://localhost:3000/implicit/callback">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">State</div>
        <div class="col">
          <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Nonce</div>
        <div class="col">
          <input type="text" class="form-control" name="nonce" [(ngModel)]="nonce" placeholder="">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark" *ngIf="supportedScopes">
  <h5 class="card-header">Supported Scopes</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col">
          <span *ngFor="let scope of supportedScopes">
            <span class="badge badge-pill badge-primary" [ngClass]="{'badge-warning': userScopes && userScopes.includes(scope)}" (click)="selectScope(scope);">{{scope}}</span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Scopes Claim</div>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="userScopesClaim" [(ngModel)]="userScopesClaim" placeholder="scopes claim">
        </div>
        <div class="col-sm">
          <button class="btn btn-primary" (click)="getUserScopedAccessToken()" *ngIf="maxScopeSet.length > 0">Get Right-Scoped Access Token</button>
        </div>
      </div>
        <div class="form-group row">
          <div class="col-sm-2">Menu Groups Claim</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="menuGroupsClaim" [(ngModel)]="menuGroupsClaim" placeholder="menu groups claim">
          </div>
        </div>
    </form>
  </div>
</div>

<div class="card text-light bg-dark">
  <h5 class="card-header">Authorization Servers</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let authServer of authServers">
        <div class="col-sm-3">
          <button class="btn btn-primary" *ngIf="authServer.description" (click)="selectAuthServer(authServer)">Select</button>
          <button class="btn btn-primary" *ngIf="authServer.description" (click)="getMetadata(authServer)">Metadata</button>
          <button class="btn btn-primary" *ngIf="authServer.id" (click)="removeAuthServer(authServer)">Clear</button>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" [ngClass]="{'current-selection': authServer.selected}" name="auth{{authServer.index}}" [(ngModel)]="authServer.description" placeholder="Auth Server Description">
        </div>
        <div class="col-sm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [ngClass]="{'current-selection': authServer.selected}"  name="desc{{authServer.index}}" [(ngModel)]="authServer.id"  placeholder="Authorization Server ID">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card text-light bg-dark">
  <h5 class="card-header">OAuth Clients</h5>
  <div class="card-body">
    <form>
      <div class="form-group row" *ngFor="let client of oauthClients">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-3">
              <button class="btn btn-primary" *ngIf="client.id" (click)="selectOauthClient(client)">Select</button>
              <button class="btn btn-primary" *ngIf="client.id" (click)="editAppProfile(client)">Edit Profile</button>
              <button class="btn btn-primary" *ngIf="client.id" (click)="removeOauthClient(client)">Clear</button>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="desc{{client.description}}" [ngClass]="{'current-selection': client.selected}" [ngModel]="client.description"  placeholder="OAuth Client Description">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="id{{client.id}}" [ngClass]="{'current-selection': client.selected}" [ngModel]="client.id" placeholder="OAuth Client ID">
            </div>
            <div class="col-sm">
              <input type="password" class="form-control" name="secret{{client.secret}}" [ngClass]="{'current-selection': client.selected}" [ngModel]="client.secret" placeholder="Client Secret">
            </div>
          </div>
          <div class="row" *ngIf="client.profile && client.showProfile">
            <div class="col-sm-3"></div>
            <div class="col-sm">
              <textarea type="text" class="edit-area" name="profile{{client.id}}" [(ngModel)]="client.profile"></textarea>
              <div>
                <button class="btn btn-primary" (click)="updateAppProfile(client)">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card bg-light" *ngIf="updateAppResponse">
  <h5 class="card-header">Updated Client App Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{updateAppResponse | json}}</pre></div>
        </div>
        <div>
          <button class="btn btn-primary" (click)="updateAppResponse = undefined">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
<div class="card text-light bg-dark">
  <h5 class="card-header">User</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm-2">Username</div>
        <div class="col">
          <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Okta username">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Username</div>
        <div class="col">
          <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Okta password">
        </div>
      </div>
    </form>
  </div>
</div>
-->

<div class="card text-light bg-info">
  <h5 class="card-header">Authorize Endpoint</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><code>
            {{authEndpoint}}
          </code></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="authenticate();">Authenticate</button>
        </div>
        <!--
        <div class="col-sm">
          <button class="btn btn-primary" (click)="logout();">Logout</button>
        </div>
        -->
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-info">
  <h5 class="card-header">Token Endpoint</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm-10">
          <div><code>
            {{tokenEndpoint}}
          </code></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="getToken();">Get Token</button>
        </div>
        <!--
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="getToken();">???</button>
        </div>
        -->
      </div>
    </form>
  </div>
</div>

<div class="card bg-light" *ngIf="accessToken">
  <h5 class="card-header">Access Token</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div class="input-group">
            <textarea class="copy-area">{{accessToken.trim()}}</textarea>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre text-light>{{decodedAccessToken | json}}</pre></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-primary token-button" (click)="introspectToken(accessToken, 'access_token')">Introspect</button>
            </div>
            <div class="col">
              {{'POST ' + this.baseUrl + '/oauth2/' + this.authServerUri + 'v1/introspect'}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-primary token-button" (click)="getUserInfo(accessToken)">Get User Info</button>
            </div>
            <div class="col">
              {{'GET ' + this.baseUrl + '/oauth2/' + this.authServerUri+ 'v1/userinfo'}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-primary token-button" (click)="revokeToken(accessToken, 'access_token')">Revoke Token</button>
            </div>
            <div class="col">
              {{'GET ' + this.baseUrl + '/oauth2/' + this.authServerUri + 'v1/revoke'}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card bg-light" *ngIf="idToken">
  <h5 class="card-header">ID Token</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div class="input-group">
            <textarea class="copy-area">{{ idToken.trim()}}</textarea>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{decodedIdToken | json}}</pre></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-primary token-button" (click)="introspectToken(idToken, 'id_token')">Introspect</button>
            </div>
            <div class="col">
              {{'POST ' + this.baseUrl + '/oauth2/' + this.authServerUri + 'v1/introspect'}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-primary token-button" (click)="revokeToken(idToken, 'id_token')">Revoke Token</button>
            </div>
            <div class="col">
              {{'GET ' + this.baseUrl + '/oauth2/' + this.authServerUri + 'v1/revoke'}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <a href="{{baseUrl}}/api/v1/sessions/me" target="_blank">sessions/me</a>
  </div>
</div>

<div class="card text-light bg-info" *ngIf="metadataResponse">
  <h5 class="card-header">/.well-known/oauth-authorization-server Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{metadataResponse | json}}</pre></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <button class="btn btn-primary" (click)="clearMetadataResponse();">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-info" *ngIf="introspectResponse">
  <h5 class="card-header">/introspect Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{introspectResponse | json}}</pre></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-info" *ngIf="userInfo">
  <h5 class="card-header">/userinfo Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{userInfo | json}}</pre></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card text-light bg-info" *ngIf="revokeResponse">
  <h5 class="card-header">/revoke Response</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{revokeResponse | json}}</pre></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card bg-light" *ngIf="menuClaims">
  <h5 class="card-header">Menu-related Claims</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">
          <div><pre>{{menuClaims | json}}</pre></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="form-group row" *ngIf="errorMessage">
  <div class="col-sm">
    <div class="alert alert-danger">
      <div><pre>{{errorMessage | json}}</pre></div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="clearErrorMessage();">Clear</button>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Dynamic Navbar - based on claims</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <div class="col-sm">

          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" routerLink="#">Universal Exports</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" *ngIf="menuClaims && menuClaims.includes('menu_group_b')">
                  <a class="nav-link dropdown-toggle" href="#" id="menuGroupA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu Group A
                  </a>
                  <div class="dropdown-menu" aria-labelledby="menuGroupA">
                    <a class="dropdown-item" href="#">Group A option 1</a>
                    <a class="dropdown-item" href="#">Group A option 2</a>
                    <a class="dropdown-item" href="#">Group A option 3</a>
                  </div>
                </li>
                <li class="nav-item dropdown" *ngIf="menuClaims && menuClaims.includes('menu_group_a')">
                  <a class="nav-link dropdown-toggle" href="#" id="menuGroupB" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu Group B
                  </a>
                  <div class="dropdown-menu" aria-labelledby="menuGroupB">
                    <a class="dropdown-item" href="#">Group B option 1</a>
                    <a class="dropdown-item" href="#">Group B option 2</a>
                    <a class="dropdown-item" href="#">Group B option 3</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
    </form>
  </div>
</div>

<div style="height:300px">

</div>
