<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Demo6</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Profile">Profile</a>
      </li>
      <li class="nav-item dropdown" *ngIf="menuClaims">
        <a class="nav-link dropdown-toggle" href="#" id="menuGroupA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu Group A
        </a>
        <div class="dropdown-menu" aria-labelledby="menuGroupA">
          <a class="dropdown-item" href="#">Group A option 1</a>
          <a class="dropdown-item" href="#">Group A option 2</a>
          <a class="dropdown-item" href="#">Group A option 3</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="menuClaims">
        <a class="nav-link dropdown-toggle" href="#" id="menuGroupA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu Group A
        </a>
        <div class="dropdown-menu" aria-labelledby="menuGroupA">
          <a class="dropdown-item" href="#">Group B option 1</a>
          <a class="dropdown-item" href="#">Group B option 2</a>
          <a class="dropdown-item" href="#">Group B option 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
