/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~jsoneditor/dist/jsoneditor.min.css";

.row {
  width: 100% !important;
}

.small {
  color: #e6e6e6 !important;
}

.small_black {
  color: black !important;
}

.outlined {
  padding-left: 10px;
  background-color: #aaa;
  border-radius: 5px;
  color: black !important;
}

.card {
  margin-bottom: 10px;
  border-radius: 5px;
}

.bg-grey {
  background-color: #8a8a8a;
}

.json-display {
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.badge {
  font-size: .85rem;
  font-weight: 400;
  margin: 3px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  font-size: .85rem;
  line-height: 1;
}

.btn-toolbar {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.list-item-subject {
  font-size: 1.2rem;
  line-height: 1;
  color: eeeeee;
}

.list-item {
  font-size: .85rem;
  line-height: 1;
  color: e6e6e6;
}

.list-item-bold {
  font-size: .85rem;
  line-height: 1;
  font-weight: bold;
  color: e6e6e6;
}

.btn {
  line-height: 1;
  margin: 3px;
  min-width: 85px;
}

code {
  color: black!important;
}

.current-selection {
  color: greenyellow;
}

.current-selection-row {
  border-color: greenyellow !important;
}

.unselected-row {
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #6a6a6a;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copy-area {
  min-width: 100%;
  min-height: 100px;
  overflow: scroll;
}

.edit-area {
  min-width: 100%;
  min-height: 200px;
  overflow: scroll;
}

.edit-area-widget {
  min-width: 100%;
  min-height: 200px;
  overflow: scroll;
}

.widget-container {
  position: relative;
  float: left;
  top: 50%;
  left: 25%;
}

div.jsoneditor-outer {
  height: 400px !important;
}

json-editor>div {
  padding-top: 20px;
  padding-bottom: 10px;
}

div.jsoneditor-tree {
  background-color: #cfcfcf !important;
}

.token-button {
  width: 130px;
  margin-bottom: 2px;
}

.input-group-text {
  padding: 0px 12px 0px 12px;
}

.jumbotron {
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.expired {
  color: red;
}

.active {
  color: green;
}

.timer {
  font-size: .9rem;
  font-size: .9rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.measurements {
  color: white !important;
}

.countdown {
  width: 50%;
  font-size: .9rem;
}

.countdown[_ngcontent-c3] {
  display: flex;
  align-items: left !important;
  justify-content: left !important;
  align-content: left !important;
}

.two-dots {
  display: none;
}

.measurements {
  color: black;
  margin-right: 5px;
  padding: 0px;
}

.divider {
  font-size: 10px;
}
