/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~jsoneditor/dist/jsoneditor.min.css";

.row {
  width: 100% !important;
}

.small {
  color: #e6e6e6;
}

.card {
  margin-bottom: 10px;
  border-radius: 5px;
}

.badge {
  font-size: .85rem;
  font-weight: 400;
  margin: 3px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  font-size: .85rem;
  line-height: 1;
}

.btn-toolbar {
  padding-top: 10px !important;
}

.list-item-subject {
  font-size: 1.2rem;
  line-height: 1;
  color: eeeeee;
}

.list-item {
  font-size: .85rem;
  line-height: 1;
  color: e6e6e6;
}

.list-item-bold {
  font-size: .85rem;
  line-height: 1;
  font-weight: bold;
  color: e6e6e6;
}

.btn {
  line-height: 1;
}

code {
  color: black!important;
}

.current-selection {
  color: greenyellow;
}

.current-selection-row {
  border-color: greenyellow !important;
}

.unselected-row {
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #6a6a6a;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copy-area {
  min-width: 100%;
  min-height: 100px;
  overflow: scroll;
}

.edit-area {
  min-width: 100%;
  min-height: 300px;
  overflow: scroll;
}

.edit-area-widget {
  min-width: 100%;
  min-height: 400px;
  overflow: scroll;
}

.widget-container {
  position: relative;
  float: left;
  top: 50%;
  left: 25%;
}

json-editor>div {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 100%;
}

div.jsoneditor-tree {
  background-color: #cfcfcf !important;
}

.token-button {
  width: 100%;
  margin-bottom: 2px;
}

.input-group-text {
  padding: 0px 12px 0px 12px;
}

.jumbotron {
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}
